.cryptocurrency-div{
	background-color: #7b1fa2;
	color: #fff;
}

.single-currency-div{
	border: 1px solid #ccc;
	border-radius: 5px;
    box-shadow: 0 0 2px #eee;
    text-align: center;
    padding: 20px;
    min-height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.single-currency-div .red {
	color: #e53935;
}

.single-currency-div .green {
	color: #00b248;
}